/* 👇 Scrollbar SOLO afecta a los elementos con .custom-scroll */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* gris */
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* hover más oscuro */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
